@font-face {
  font-family: "iconfont"; /* Project id 2526750 */
  src: url('//at.alicdn.com/t/font_2526750_ifx7h21jws.woff2?t=1623233565905') format('woff2'),
       url('//at.alicdn.com/t/font_2526750_ifx7h21jws.woff?t=1623233565905') format('woff'),
       url('//at.alicdn.com/t/font_2526750_ifx7h21jws.ttf?t=1623233565905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qidian:before {
  content: "\e672";
}

.icon-zhongdian:before {
  content: "\e674";
}

.icon-liusu:before {
  content: "\e63b";
}

.icon-fengxian1:before {
  content: "\e857";
}

.icon-daoda2:before {
  content: "\e6a5";
}

.icon-likai:before {
  content: "\e605";
}

.icon-zhuanhuan:before {
  content: "\e604";
}

.icon-policy-xia:before {
  content: "\e603";
}

.icon-xia:before {
  content: "\e601";
}

.icon-shang:before {
  content: "\e65b";
}

.icon-yaoyan:before {
  content: "\e610";
}

.icon-yuandian:before {
  content: "\e600";
}

.icon-chuxing:before {
  content: "\e622";
}

.icon-zengce:before {
  content: "\e677";
}

.icon-jigou:before {
  content: "\e626";
}

.icon-subao:before {
  content: "\e62b";
}

.icon-fengxian:before {
  content: "\e678";
}

.icon-gengduo:before {
  content: "\e602";
}
