@font-face {
  font-family: "iconfont"; /* Project id 2526750 */
  src: url('//at.alicdn.com/t/font_2526750_8k07gdaubwp.woff2?t=1620181495747') format('woff2'),
       url('//at.alicdn.com/t/font_2526750_8k07gdaubwp.woff?t=1620181495747') format('woff'),
       url('//at.alicdn.com/t/font_2526750_8k07gdaubwp.ttf?t=1620181495747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guonei:before {
  content: "\e6b3";
}

.icon-gongjuxiang:before {
  content: "\e601";
}

.icon-yimiao:before {
  content: "\e6a6";
}

.icon-quanqiu:before {
  content: "\e600";
}
