@font-face {
  font-family: "iconfont"; /* Project id 2526750 */
  src: url('//at.alicdn.com/t/font_2526750_adg2qq6x9k.woff2?t=1622993192622') format('woff2'),
       url('//at.alicdn.com/t/font_2526750_adg2qq6x9k.woff?t=1622993192622') format('woff'),
       url('//at.alicdn.com/t/font_2526750_adg2qq6x9k.ttf?t=1622993192622') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xia:before {
  content: "\e601";
}

.icon-shang:before {
  content: "\e65b";
}

.icon-yaoyan:before {
  content: "\e610";
}

.icon-yuandian:before {
  content: "\e600";
}

.icon-chuxing:before {
  content: "\e622";
}

.icon-zengce:before {
  content: "\e677";
}

.icon-jigou:before {
  content: "\e626";
}

.icon-subao:before {
  content: "\e62b";
}

.icon-fengxian:before {
  content: "\e678";
}

.icon-gengduo:before {
  content: "\e602";
}
